<ion-header>
  <ion-toolbar>
    <ion-title>
      Currency Converter
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form (ngSubmit)="convertCurrency()">
    <ion-item>
      <ion-label position="floating">Base Amount</ion-label>
      <ion-input type="number" [(ngModel)]="baseAmount" name="baseAmount"></ion-input>
    </ion-item>
    <!-- <ion-item>
      <ion-label>Base Currency</ion-label>
      <ion-select [(ngModel)]="baseCurrency" name="baseCurrency">
        <ion-select-option value="USD">USD</ion-select-option>
        <ion-select-option value="EUR">EUR</ion-select-option>
        <ion-select-option value="JPY">JPY</ion-select-option>
      </ion-select>
    </ion-item> -->
    <!-- <ion-item>
      <ion-label>Target Currency</ion-label>
      <ion-select [(ngModel)]="targetCurrency" name="targetCurrency">
        <ion-select-option value="USD">USD</ion-select-option>
        <ion-select-option value="EUR">EUR</ion-select-option>
        <ion-select-option value="JPY">JPY</ion-select-option>
      </ion-select>
    </ion-item> -->
    <ion-button type="submit" expand="full">Convert</ion-button>
  </form>
  <ion-card *ngIf="convertedAmount">
    <ion-card-header>
      <ion-card-title>Converted Amount</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{ convertedAmount | currency: targetCurrency }}
    </ion-card-content>
  </ion-card>
  <ion-list *ngIf="buyingRates">
    <ion-list-header>
      Buying Rates
    </ion-list-header>
    <ion-item *ngFor="let rate of buyingRates | keyvalue">
      <ion-label>{{ rate.key }}</ion-label>
      <ion-note slot="end">{{ rate.value }}</ion-note>
    </ion-item>
  </ion-list>
  <ion-list *ngIf="sellingRates">
    <ion-list-header>
      Selling Rates
    </ion-list-header>
    <ion-item *ngFor="let rate of sellingRates | keyvalue">
      <ion-label>{{ rate.key }}</ion-label>
      <ion-note slot="end">{{ rate.value }}</ion-note>
    </ion-item>
  </ion-list>
</ion-content>
